In [50]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "credit_risk_dataset.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "laotse/credit-risk-dataset",
  file_path,
  # Provide any additional arguments like 
  # sql_query or pandas_kwargs. See the 
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

print("First 5 records:", df.head())

/tmp/ipython-input-2704880393.py:10: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

Using Colab cache for faster access to the 'credit-risk-dataset' dataset.
First 5 records:    person_age  person_income person_home_ownership  person_emp_length  \
0          22          59000                  RENT              123.0
1          21           9600                   OWN                5.0
2          25           9600              MORTGAGE                1.0
3          23          65500                  RENT                4.0
4          24          54400                  RENT                8.0

  loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
0    PERSONAL          D      35000          16.02            1
1   EDUCATION          B       1000          11.14            0
2     MEDICAL          C       5500          12.87            1
3     MEDICAL          C      35000          15.23            1
4     MEDICAL          C      35000          14.27            1

   loan_percent_income cb_person_default_on_file  cb_person_cred_hist_length
0                 0.59                         Y                           3
1                 0.10                         N                           2
2                 0.57                         N                           3
3                 0.53                         N                           2
4                 0.55                         Y                           4

In [51]:
df.columns

Index(['person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate', 'loan_status', 'loan_percent_income',
       'cb_person_default_on_file', 'cb_person_cred_hist_length'],
      dtype='object')

In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
df['loan_status'].head()

0    1
1    0
2    1
3    1
4    1
Name: loan_status, dtype: int64

In [54]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [55]:
taget='loan_status'

In [56]:
df.isna().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [57]:
df.dtypes

person_age                      int64
person_income                   int64
person_home_ownership          object
person_emp_length             float64
loan_intent                    object
loan_grade                     object
loan_amnt                       int64
loan_int_rate                 float64
loan_status                     int64
loan_percent_income           float64
cb_person_default_on_file      object
cb_person_cred_hist_length      int64
dtype: object

In [58]:
df['person_emp_length'].head()

0    123.0
1      5.0
2      1.0
3      4.0
4      8.0
Name: person_emp_length, dtype: float64

In [59]:
df['person_emp_length'].dtypes

dtype('float64')

In [60]:
df.shape

(32581, 12)

In [61]:
df['cb_person_default_on_file'].nunique()

2

In [62]:
df['cb_person_default_on_file'].value_counts()

cb_person_default_on_file
N    26836
Y     5745
Name: count, dtype: int64

In [63]:
df_regression=df.copy()

In [64]:
missing_cols=['person_emp_length','loan_int_rate']

In [65]:
df.dtypes

person_age                      int64
person_income                   int64
person_home_ownership          object
person_emp_length             float64
loan_intent                    object
loan_grade                     object
loan_amnt                       int64
loan_int_rate                 float64
loan_status                     int64
loan_percent_income           float64
cb_person_default_on_file      object
cb_person_cred_hist_length      int64
dtype: object

In [66]:
from sklearn.preprocessing import OneHotEncoder

categorical_cols = ['cb_person_default_on_file','person_home_ownership']  

encoder = OneHotEncoder(drop='first', sparse_output=False) 

encoded_array = encoder.fit_transform(df_regression[categorical_cols])

encoded_cols = encoder.get_feature_names_out(categorical_cols)

df_encoded = pd.DataFrame(encoded_array, index=df_regression.index, columns=encoded_cols)

numerical_cols = df_regression.drop(columns=categorical_cols).columns
df_regression = pd.concat([df_regression[numerical_cols], df_encoded], axis=1)

In [67]:
df_regression.dtypes

person_age                       int64
person_income                    int64
person_emp_length              float64
loan_intent                     object
loan_grade                      object
loan_amnt                        int64
loan_int_rate                  float64
loan_status                      int64
loan_percent_income            float64
cb_person_cred_hist_length       int64
cb_person_default_on_file_Y    float64
person_home_ownership_OTHER    float64
person_home_ownership_OWN      float64
person_home_ownership_RENT     float64
dtype: object

In [71]:
df_regression.isna().sum()

person_age                        0
person_income                     0
person_emp_length               895
loan_intent                       0
loan_grade                        0
loan_amnt                         0
loan_int_rate                  3116
loan_status                       0
loan_percent_income               0
cb_person_cred_hist_length        0
cb_person_default_on_file_Y       0
person_home_ownership_OTHER       0
person_home_ownership_OWN         0
person_home_ownership_RENT        0
dtype: int64

In [72]:
missing_cols

['person_emp_length', 'loan_int_rate']

In [73]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

df_imputed = df_regression.copy()

# Hanya ambil kolom numerik (termasuk kolom yang missing)
numeric_cols = df_imputed.select_dtypes(include=[np.number]).columns.tolist()


pipeline=Pipeline([
    ('scaler', StandardScaler()),
    ('imputer', IterativeImputer(
        estimator=SGDRegressor(max_iter=1000, tol=1e-3, random_state=42),
        random_state=42,
        max_iter=10,
        verbose=0
    ))
])

df_imputed[numeric_cols] = pipeline.fit_transform(df_imputed[numeric_cols])

df_regression=df_imputed.copy()

In [74]:
df_regression.isna().sum()

person_age                     0
person_income                  0
person_emp_length              0
loan_intent                    0
loan_grade                     0
loan_amnt                      0
loan_int_rate                  0
loan_status                    0
loan_percent_income            0
cb_person_cred_hist_length     0
cb_person_default_on_file_Y    0
person_home_ownership_OTHER    0
person_home_ownership_OWN      0
person_home_ownership_RENT     0
dtype: int64

In [76]:
df_regression.dtypes

person_age                     float64
person_income                  float64
person_emp_length              float64
loan_intent                     object
loan_grade                      object
loan_amnt                      float64
loan_int_rate                  float64
loan_status                    float64
loan_percent_income            float64
cb_person_cred_hist_length     float64
cb_person_default_on_file_Y    float64
person_home_ownership_OTHER    float64
person_home_ownership_OWN      float64
person_home_ownership_RENT     float64
dtype: object

In [79]:
df_regression['loan_grade'].value_counts()

loan_grade
A    10777
B    10451
C     6458
D     3626
E      964
F      241
G       64
Name: count, dtype: int64

In [80]:
loan_status = {
    'A': 1,
    'B': 2,
    'C': 3,
    'D': 4,
    'E': 5,
    'F': 6,
    'G': 7
}

df_regression['loan_grade'] = df_regression['loan_grade'].map(loan_status)

In [82]:
df_regression.dtypes

person_age                     float64
person_income                  float64
person_emp_length              float64
loan_intent                     object
loan_grade                       int64
loan_amnt                      float64
loan_int_rate                  float64
loan_status                    float64
loan_percent_income            float64
cb_person_cred_hist_length     float64
cb_person_default_on_file_Y    float64
person_home_ownership_OTHER    float64
person_home_ownership_OWN      float64
person_home_ownership_RENT     float64
dtype: object

In [83]:
df_regression['loan_intent'].value_counts()

loan_intent
EDUCATION            6453
MEDICAL              6071
VENTURE              5719
PERSONAL             5521
DEBTCONSOLIDATION    5212
HOMEIMPROVEMENT      3605
Name: count, dtype: int64

In [84]:
df_regression = pd.get_dummies(df_regression, columns=['loan_intent'], drop_first=False)

In [85]:
df_regression.dtypes

person_age                       float64
person_income                    float64
person_emp_length                float64
loan_grade                         int64
loan_amnt                        float64
loan_int_rate                    float64
loan_status                      float64
loan_percent_income              float64
cb_person_cred_hist_length       float64
cb_person_default_on_file_Y      float64
person_home_ownership_OTHER      float64
person_home_ownership_OWN        float64
person_home_ownership_RENT       float64
loan_intent_DEBTCONSOLIDATION       bool
loan_intent_EDUCATION               bool
loan_intent_HOMEIMPROVEMENT         bool
loan_intent_MEDICAL                 bool
loan_intent_PERSONAL                bool
loan_intent_VENTURE                 bool
dtype: object

In [86]:
df_regression = df_regression.astype({col: 'int' for col in df_regression.select_dtypes('bool').columns})

df_regression = df_regression.drop(columns=['loan_intent_EDUCATION'], errors='ignore')

In [88]:
df_regression.dtypes

person_age                       float64
person_income                    float64
person_emp_length                float64
loan_grade                         int64
loan_amnt                        float64
loan_int_rate                    float64
loan_status                      float64
loan_percent_income              float64
cb_person_cred_hist_length       float64
cb_person_default_on_file_Y      float64
person_home_ownership_OTHER      float64
person_home_ownership_OWN        float64
person_home_ownership_RENT       float64
loan_intent_DEBTCONSOLIDATION      int64
loan_intent_HOMEIMPROVEMENT        int64
loan_intent_MEDICAL                int64
loan_intent_PERSONAL               int64
loan_intent_VENTURE                int64
dtype: object

0    1.893069
1   -0.528243
2    1.893069
3    1.893069
4    1.893069
Name: loan_status, dtype: float64

In [96]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

X = df_regression.drop(columns=[target])
y = df_regression[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

models = {
    'SVR': SVR(kernel='rbf', C=1.0),
    'Random Forest': RandomForestRegressor(n_estimators=100, random_state=42),
    'Gradient Boosting': GradientBoostingRegressor(n_estimators=100, random_state=42),
    'AdaBoost': AdaBoostRegressor(n_estimators=100, random_state=42),
    'XGBoost': XGBRegressor(n_estimators=100, random_state=42, verbosity=0),
    'KNN': KNeighborsRegressor(n_neighbors=5)
}

results = {}

for name, model in models.items():
    if name in ['Random Forest', 'Gradient Boosting', 'AdaBoost', 'XGBoost']:
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
    else:
        model.fit(X_train_scaled, y_train)
        y_pred = model.predict(X_test_scaled)
    
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    results[name] = {'RMSE': rmse, 'MAE': mae, 'R': r2}

for name, metrics in results.items():
    print(f"\n{name}:")
    print(f"  RMSE: {metrics['RMSE']:.4f}")
    print(f"  MAE:  {metrics['MAE']:.4f}")
    print(f"  R:   {metrics['R']:.4f}")

SVR:
  RMSE: 0.7204
  MAE:  0.3788
  R:   0.4870

Random Forest:
  RMSE: 0.5608
  MAE:  0.2724
  R:   0.6891

Gradient Boosting:
  RMSE: 0.6197
  MAE:  0.3654
  R:   0.6204

AdaBoost:
  RMSE: 0.7540
  MAE:  0.5962
  R:   0.4380

XGBoost:
  RMSE: 0.5659
  MAE:  0.3007
  R:   0.6835

KNN:
  RMSE: 0.7200
  MAE:  0.3732
  R:   0.4876